.box1{
    color: #323232;
    height: 200px;
    background-color: #ec00cd;
    img {
        border-radius: 4px;
         padding: 5px;
         widgh:
    }
}
article{
    border: 10px solid #000000;
}


article{
    background: #00ffa3;
}

.box2{
    color: black;
    height: 200px;
    border: solid;
   background: aqua;

}


.box3{
    color: #000000;
    height: 200px;
    background: #ff0000;
}


.box4{
    color: black;
    height: 200px;
    background: #019fc8;
}





.box6{
    color: #323232;
    height: 200px;
    background: #ec00cd;
}